* {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
	--VeryLightGray: hsl(0, 0%, 98%);
	--VeryLightGrayishBlue: hsl(236, 33%, 92%);
	--LightGrayishBlue: hsl(233, 11%, 84%);
	--DarkGrayishBlue: hsl(236, 9%, 61%);
	--VeryDarkGrayishBlue: hsl(235, 19%, 35%);
}
header {
	display: flex;
	flex-direction: column;
	background: no-repeat url('./images/bg-mobile-light.jpg') center/cover;
	height: 12.5rem;
}
.header-row-darkmode {
	display: flex;
	justify-content: space-between;
	margin: 3rem 1.5rem 2rem;
}
h1 {
	color: #fff;
	font-size: 1.7rem;
	letter-spacing: 0.625rem;
}
button {
	background: unset;
	border:unset;
	width: 1.25rem;
	height: 1.25rem;
}
.darkmode-icon {
	background: url(./images/icon-moon.svg) no-repeat top left;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	height: 1.25rem;
	width: 1.25rem;
}
.header-row-input {
	display: flex;
	margin: 0 1.5rem;
}
.checkbox-container {
	display: flex;
	align-items: center;
	padding: 0 0.75rem 0 1.25rem;
	background-color: #fff;
	border: 1px solid var(--DarkGrayishBlue);
	border-right: none;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.new-note-form {
	display: flex;
	flex-grow: 1;
}
.new-note-input {
	flex-grow: 1;
	padding: 1rem 0.5rem 1rem 0rem;
	border: 1px solid var(--DarkGrayishBlue);
	border-left: none;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}